@media screen and (max-width: 1300px) {
	 /* Products */

	 .product__more {
		 margin-top: 60px;
	 }
}

@media screen and (max-width: 1200px) {

	/* Slider */

	.banner-section__slider-img {
		min-height: 380px;
		max-width: 600px;
	}

	.banner-section__inner {
		justify-content: space-around;
	}

	.banner-section__slider {
		max-width: 600px;
	}

	/* Categories */

	.categories__inner {
		justify-content: space-around;
	}

	/* Banner */

	.banner__link img {
		width: 100%;
	}

	/* Catalog */

	.catalog__inner-list {
		justify-content: space-around;
	}
}

@media screen and (max-width: 1100px) {

	/* Header */

	.menu__item + .menu__item {
		padding-left: 20px;
	}

	.header__adress {
		margin-right: 20px;
	}
}

@media screen and (max-width: 968px) {

	/* Header */

	.header__bottom {
		display: none;
	}

	.menu__list {
		display: none;
	}

	.menu__btn {
		display: block;
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
	}

	.menu__btn-line {
		background: #2F3035;
		border-radius: 3px;
		height: 3px;
		width: 34px;
		margin: 8px 0;
	}

	.menu__mobile-linewrapper {
		display: block;
		font-family: 'SFProDisplay-Bold', sans-serif;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		background-color: #fff;
		background: #F0F0F4;
		overflow-x: scroll;
	}

	.menu__mobile-line {
		width: 450px;
		padding: 14px 0 14px 15px;
	}

	/* Slider */

	.banner-section__inner {
		margin-top: 25px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.banner-section__slider-item {
		text-align: center;
	}

	.banner-section__slider {
		max-width: 100%;
	}

	.banner-section__slider-img {
		max-width: 100%;
		margin-bottom: 25px;
	}

	/* Search */

	.tabs-wrapper,
	.breadcrumbs__inner,
	.catalog__filter-itemsinner {
		overflow-x: scroll;
	}

	.tabs-wrapper.tabs-wrapper--no-scroll {
		overflow: hidden;
	}

	.mobile-overflow {
		width: 1000px;
	}
}

@media screen and (max-width: 940px) {

	/* Footer */

	.footer__top-inner {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.footer__top-item {
		margin-bottom: 25px;
	}

	/* Catalog */

	.catalog__filter {
		display: block;
	}

	.catalog__filter-btn {
		margin-top: 30px;
	}

	.catalog__filter-btn button {
		display: none;
	}
	
}

@media screen and (max-width: 640px) {

	/* Header */

	.header__address {
		display: none;
	}

	/* Slider */

	.banner-section__slider-img {
		min-height: 200px;
	}

	.banner-section .container {
		padding: 0;
	}

	/* Search */

	.search__content-form {
		position: relative;
	}

	.search__content-input {
		height: 50px;
		padding-right: 50px;
	}

	.search__content-btn {
    background-image: url('../images/search/search.svg');
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		top: 13px;
		right: 8px;
		background-color: transparent;
    font-size: 0;
    line-height: 0;
    padding: 17px;
		position: absolute;
	}

	/* Banner */

	.banner__link {
		min-height: 90px;
		object-fit: contain;
	}

	/* Catalog */

	.catalog__inner {
		flex-wrap: wrap;
	}

	.aside__btn {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		background-color: #1C62CD;
		color: #fff;
		width: 100%;
		padding: 15px 0;
		margin-bottom: 30px;
		cursor: pointer;
	}

	.aside-filter {
		display: none;
	}
}

@media screen and (max-width: 540px) {

	/* Footer */

	.footer__top-inner {
		justify-content: start;
	}

	.footer__top-newslatter.footer__top-item {
		margin-right: auto;
		margin-left: auto;
		width: 290px;
		text-align: center;
	}

	.footer__top-item {
		width: 100%;
		border-bottom: 2px solid #9f9fb5;
	}

	.footer__top-social.footer__top-item {
		width: 100%;
		border-bottom: none;
	}

	.footer__top-title.footer__topdrop {
		font-size: 14px;
		line-height: 18px;
		color: #7F7F7F;
		font-weight: 500;
		padding: 15px 0;
		
	}

	.footer__top-itemdrop {
		margin-bottom: 0;
		border-top: 2px solid #9f9fb5;
	}

	.footer__topdrop {
		position: relative;
	}

	.footer__topdrop::after {
		content: "";
		position: absolute;
		background-image: url('../images/catalog/arrow-down.svg');
		top: 21px;
		right: 0;
		width: 12px;
		height: 8px;
		transform: rotate(180deg);
	}

	.footer__topdrop--active::after {
		transform: rotate(0deg);
	}

	/* .footer__top-itemdrop {
		margin-bottom: 0;
		border-bottom: 2px solid #9f9fb5;
	}

	

	.footer__top-title.footer__topdrop {
		font-size: 14px;
		line-height: 18px;
		color: #7F7F7F;
		font-weight: 500;
		padding: 15px 0;
	} */

	.footer__list {
		display: none;
	}

	.social-list {
		justify-content: center;
	}

	.footer__bottom {
		flex-direction: column;
		align-items: start;
	}

	.footer__bottom-link {
		margin: 12px 0;
	}

}

@media screen and (max-width: 440px) {

	/* Slider */

	.banner-section__slider-img {
		min-height: 164px;
	}

	/* Categories */

	.categories__item {
		padding: 20px 10px 16px;
	}

	/* Catalog */

	.pagination-list__item {
		margin: 0;
		padding: 6px 11px;
	}

	/* Footer */

	.footer-form__input {
		width: 178px;
	}
}